/* General page styling*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-family: 'Spartan',sans-serif; */
    font-family: 'Montserrat', 'Open Sans', sans-serif, Calibri, Helvetica;

}

body{
	width: 100%;
	overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a5aaad;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #452ADA;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a5aaad;
}

/*Header styling*/
#header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 80px;
	background: #FDFBFE;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
	z-index: 999;
	position: sticky;
	top: 0;
	left: 0;
}

#navbar{
	display: flex;
	align-items: center;
	justify-content: center;
}

#navbar li{
	list-style: none;
	padding: 0 20px;
	position: relative;
}

#navbar li a{
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	color: #1a1a1a;
	transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
	color: #452ADA;
}

#navbar li a.active::after, 
#navbar li a:hover::after{
	content: "";
	width: 30%;
	height: 2px;
	background-color: #452ADA;
	position: absolute;
	bottom: -4px;
	left: 20px;
}

#mobile{
	display: none;
	align-items: center;
}

#close{
	display: none;
}
.basket-icon {
        width: 20px;
        height: 20px;
    }

    .basket-badge {
        font-size: 10px;
        font-weight: bold;
        background-color: #FF0000;
        color: white;
        margin: -10px 0 0 10px;
        padding: 3px;
        border-radius: 25%;
        width: 18px;
        height: 16px;
        text-align: center;
        line-height: 1;
        position: absolute;
        top: 0;
        right: 0;
    }

    .basket_icon {
        width: 50px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid #1a1a1a; */
        position: relative;
    }
/*Media query for header*/
@media (max-width:799px){
	#navbar{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		position: fixed;
		top: 0;
		right: -300px;
		height: 100vh;
		width: 175px;
		background-color: #FDFBFE;
		box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
		padding: 80px 0 0 10px;
		transition: 0.3s;
	}

	#navbar.active{
		right: 0px;
	}

	#navbar li{
		margin-bottom: 25px;
	}

	#mobile{
		display: flex;
		align-items: center;
	}

	#mobile i{
		color: #1a1a1a;
		font-size: 20 px;
		padding-left: 20px;
	}

	#close{
		position: absolute;
		top: 30px;
		left: 30px;
		color: #222;
		font-size: 20px;
		display: initial;
	}
}

/*Carousel styling*/

.c-item{
	height: 866px;
}

.c-img{
	height: 100%;
	object-fit: cover;
}

.carousel-caption{
	bottom: 10%;
}

/*Carousel button styling*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.bttn{
  padding: 25px 30px;
  background: transparent;
  color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

.bttn:hover{
    background: #ffffff;
    color: #000000;
    box-shadow: 0 0 5px #ffffff,
                0 0 25px #ffffff,
                0 0 50px #ffffff,
                0 0 200px #ffffff;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

/*Title styling*/
.underline{
	font-size: 140px;
	text-align: justify;
	font-size: 6vw;
	text-align: center;
	background-image: url(https://images.unsplash.com/photo-1471696035578-3d8c78d99684?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
	background-size: cover;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

/*Card styling*/
.card{
	width: 100%;
	height: 100%;
	margin-left: 30px;
	margin-right: 30px;
	transition: all 0.3s;
	box-shadow: 5px 5px 20px black;
}

.card:hover{
	transform: scale(1.035);
}

.card-footer{
	text-align: center;
}

.btn-primary{
	width: 40%;
	background-color: #452ADA;
	border-color: #452ADA;
	align-content: center;
	margin-bottom: 5px;
}


.container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

/*Text Styling*/
.container1{
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.who{
	align-items: center;
	text-align: center;
	font-size: 19px;
	padding: 40px;
	width: 100%;
	color: #ffffff;
	border-radius: 20px;
	background-image: url(https://images.unsplash.com/photo-1497250681960-ef046c08a56e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
	background-size: cover;
	background-clip: background;
	-webkit-background-clip: background;
}

/*Card categories styling*/
.scard{
	height: 250px;
	width: 400px;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
  	margin-right: 30px;
 	margin-top: 30px;
 	margin-bottom: 30px;
}

.scard img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.scard-body{
	width: 100%;
	height: 100%;
	top: 0;
	right: -100%;
	position: absolute;
	background: #1f3d4738;
	backdrop-filter: blur(5px);
	border-radius: 15px;
	color: #ffffff;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: 2s;
}

.scard:hover .scard-body{
	right: 0;
}

.scard-title{
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 500;
}

.scard-sub-title{
	text-transform: capitalize;
	font-size: 14px;
	font-weight: 300;
}

.scard-btn{
	color: #1f3d4738;
	background: #8fabba;
	padding: 10px 20px;
	width: 120px;
	border-radius: 5px;
	text-transform: capitalize;
	border: none;
	outline: none;
	font-weight: 500;
	cursor: pointer;
}

/*Footer Styling*/
footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: sticky;
	top: 100%;
	width: 100%;
	background: #FDFBFE;
}

footer .col{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 20px;
	margin-right: 125px;
	margin-left: 125px;
}

footer .logo{
	margin-bottom: 30px;
}

footer h4{
	font-size: 16px;
	padding-bottom: 20px;
}

footer p{
	font-size: 13px;
	margin: 0 0 8px 0;
}

footer a{
	font-size: 13px;
	text-decoration: none;
	color: #222;
	margin-bottom: 10px;
}

footer .follow{
	margin-top: 20px;
}


footer .follow i{
	padding-right: 4px;
	cursor: pointer;
}

footer .install .row img{
	border: 1px solid #452ADA;
	border-radius: 6px;
}

footer .install img{
	margin-top: 10px 0 15px 0;
}

footer .follow i:hover, footer a:hover{
	color: #452ADA;
}

footer .copyright{
	width: 100%;
	text-align: center;
}