
@media all and (max-width: 1100px) {
  .list-view.editing .toolbar,
  .list-view.editing .product-grid {
    display: none;
  }
}

a[highlight] {
      font-weight: bold;
      text-decoration: underline;
  }

  /* General page styling*/
  *{

  	font-family: 'Spartan',sans-serif;
  }

/*Header styling*/
.header{
	background: #FDFBFE;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
	z-index: 999;
}

vaadin-menu-bar.menuBar::part(menu-bar-button){
 	font-size: 16px;
 	color: #1a1a1a;
 	transition: 0.3s ease;
}





