@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");

/* Root Variable */
:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light)
}

/* General page styling*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-family: 'Spartan',sans-serif; */
    font-family: 'Montserrat', 'Open Sans', sans-serif, Calibri, Helvetica;

}

body{
	width: 100%;
}

/*Header styling*/
#header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 80px;
	background: #FDFBFE;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
	z-index: 999;
	position: sticky;
	top: 0;
	left: 0;
}

#navbar{
	display: flex;
	align-items: center;
	justify-content: center;
}

#navbar li{
	list-style: none;
	padding: 0 20px;
	position: relative;
}

#navbar li a{
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	color: #1a1a1a;
	transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
	color: #452ADA;
}

#navbar li a.active::after, 
#navbar li a:hover::after{
	content: "";
	width: 30%;
	height: 2px;
	background-color: #452ADA;
	position: absolute;
	bottom: -4px;
	left: 20px;
}

#mobile{
	display: none;
	align-items: center;
}

#close{
	display: none;
}
.basket-icon {
	width: 20px;
	height: 20px;
}

.basket-badge {
	font-size: 10px;
	font-weight: bold;
	background-color: #FF0000;
	color: white;
	margin: -10px 0 0 10px;
	padding: 3px;
	border-radius: 25%;
	width: 18px;
	height: 16px;
	text-align: center;
	line-height: 1;
	position: absolute;
	top: 0;
	right: 0;
}

.basket_icon {
	width: 50px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	/* border: 1px solid #1a1a1a; */
	position: relative;
}
/*Media query for header*/
@media (max-width:799px){
	#navbar{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		position: fixed;
		top: 0;
		right: -300px;
		height: 100vh;
		width: 175px;
		background-color: #FDFBFE;
		box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
		padding: 80px 0 0 10px;
		transition: 0.3s;
	}

	#navbar.active{
		right: 0px;
	}

	#navbar li{
		margin-bottom: 25px;
	}

	#mobile{
		display: flex;
		align-items: center;
	}

	#mobile i{
		color: #1a1a1a;
		font-size: 20 px;
		padding-left: 20px;
	}

	#close{
		position: absolute;
		top: 30px;
		left: 30px;
		color: #222;
		font-size: 20px;
		display: initial;
	}
}

/*Title styling*/
.underline{
	text-align: justify;
	padding-top: 40px;
	font-size: 60px;
	text-align: center;
	background-image: url(https://images.unsplash.com/photo-1471696035578-3d8c78d99684?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
	background-size: cover;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.recent-orders{
	margin-top: 2rem;
}

.recent-orders table{
	background: #FDFBFE;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	border-radius: var(--card-border-radius);
	padding: var(--card-padding);
	text-align: center;
	box-shadow: var(--box-shadow);
	transition: all 300ms ease;
}

.recent-orders table:hover{
	box-shadow: none;
}

table tbody td{
	height: 2.8rem;
	border-bottom: 1px solid var(--color-light);
	color: var(--color-dark-variant);
}

table tbody tr:last-child td{
	border: none;
}
