@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    background: #ececec;
    padding: 0 20px 0 20px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.row {
    width: 900px;
    height: 570px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.side-image {
    background-image: url("/images/1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px 0 0 10px;
}

.side-image-2 {
    background-image: url("/images/5.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px 0 0 10px;
}


/* img {
    width: 35px;
    position: absolute;
    top: 30px;
    left: 30px;
} */

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text p {
    color: #fff;
    font-size: 18px;
}

i {
    font-weight: 400;
    font-size: 15px;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.input-box {
    width: 330px;
    box-sizing: border-box;
}

.input-box header {
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
    color: #6a11cb
}

.input-field {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
    color: #6a11cb
}

.input {
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #3631e1;
    outline: none;
    margin-bottom: 20px;
    color: #6a11cb;
}

.input-box .input-field label {
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: .5s;
    color: rgb(134, 133, 138)
}

.input-field .input:focus~label {
    top: -10px;
    font-size: 13px;
    color: #6a11cb
}


.input-field .input:not([value=""])~label {
    top: -10px;
    font-size: 13px;
    color: #6a11cb
}

.input-field .input:focus,
.input-field .input:valid {
    border-bottom: 1px solid #743ae1;
}

.submit {
    border: none;
    outline: none;
    height: 45px;
    background: #743ae1;
    border-radius: 5px;
    transition: .4s;
    color: white
}

.submit:hover {
    background: #3631e1;
    color: #fff;
}

.signin {
    text-align: center;
    font-size: small;
    margin-top: 25px;
}

span a {
    text-decoration: none;
    font-weight: 700;
    color: #000;
    transition: .5s;
}

span a:hover {
    text-decoration: underline;
    color: #000;
}

@media only screen and (max-width: 768px) {
    .side-image {
        border-radius: 10px 10px 0 0;
    }
    .side-image-2 {
        border-radius: 10px 10px 0 0;
    }
    /* img {
        width: 35px;
        position: absolute;
        top: 20px;
        left: 47%;
    } */
    .text {
        position: absolute;
        top: 70%;
        text-align: center;
    }
    .text p,
    i {
        font-size: 17px;
    }
    .row {
        max-width: 420px;
        width: 100%;
    }
}