<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head th:replace="base.html :: head(title='Basket')">
</head>
<body>
<!--<link rel="stylesheet" href=-->
<!--"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">-->
<!--</script>-->

<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">-->
<!--</script>-->

<header th:replace="base.html :: header">
</header>
<!-- <div  th:if="${error}"  class="alert alert-danger">
    <p th:text="${error}"></p>
</div> -->
<div th:if="${error}" class="alert alert-danger" style="width: 400px; margin-top: 10px; padding-bottom:0px;">
  <p th:text="${error}"></p>
</div>

<div class="container-fluid">

    <div class="row">
        <!-- Products Table -->
        <div class="col-sm-8">
            <h2>Basket</h2>

            <table class="table table-striped">
                <thead th:if="${basket != null and not basket.isEmpty()}">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
<!--                    <th>Product Id</th>-->
<!--                    <th>Quantity</th>-->
                </tr>
                </thead>
                <tbody>
                  <th:block th:if="${basket != null and basket.isEmpty()}">
                      <tr>
                          <td colspan="5" class="text-center">Your basket is empty</td>
                      </tr>
                  </th:block>
                <th:block th:if="${basket!=null and not basket.isEmpty()}">
               <tr th:each="item : ${basket}" th:data-id="${item.product.id}"  th:with="product=${products.get(item.product.id)}">
                   <td><img th:src="${'images/products/' + product.imagePath}" th:if="${product.imagePath!=''}" width="80" height="75" alt="Product Image"></td>
                   <td th:text="${product.name}"></td>
                   <td th:text="${product.price}"></td>
                   <td><button class="btn btn-sm btn-secondary" id="minus-btn" onclick = "updateQuantity(this, -1)">-</button><span th:text="${item.quantity}" style="padding: 4px;">

                   </span>   <button class="btn btn-sm btn-secondary" id="plus-btn" onclick = "updateQuantity(this, 1)">+</button>
                       <button class="btn btn-sm btn-danger" onclick="updateQuantity(this, 0)">Delete</button>
                   </td>
                   <td th:text="${product.price * item.quantity}"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td th:text="${total}"></td></tr>
                </th:block>
                </tbody>
           
              </table>
                <div class="row">
                    <div class="col-sm-6">
                      <a th:href=@{/products} class="btn btn-sm btn-primary">Continue Shopping</a>
                    </div>
                    <div th:if="${basket !=null and not basket.isEmpty()}"class="col-sm-6">
                      <a th:href="@{/checkout}" class="btn btn-sm btn-success">Checkout</a>
                    </div>
                  </div>
        </div>
        </div>
</div>
<!-----footer----->
<footer th:replace="base.html :: footer"></footer>


<script defer> 
    function updateQuantity(button, operation){
    const productId = button.closest('tr').getAttribute('data-id');
    const quantity = button.closest('td').querySelector('span').innerText;
    // console.log(id);
    // console.log(quantity);

    const form = document.createElement('form');
      form.method = 'POST';
      //set form th:action to edit basket
      form.action = '/basket/update';
    //   console.log(parseInt(quantity)+operation);

    //   var hiddenField = document.createElement('input'); //basket id
    //   hiddenField.type = 'hidden';
    //   hiddenField.name = 'id';
    //   hiddenField.value = id;
    //   form.appendChild(hiddenField);

      hiddenField = document.createElement('input'); //product id
      hiddenField.type = 'hidden';
      hiddenField.name = 'productId';
      hiddenField.value = productId;
      form.appendChild(hiddenField);

      hiddenField = document.createElement('input'); //quantity
      hiddenField.type='hidden';
      hiddenField.name= 'quantity';
      if (operation==0){
          hiddenField.value = 0;
        }else{
          hiddenField.value = parseInt(quantity) + operation;
        }
      form.appendChild(hiddenField);

      document.body.appendChild(form);
      form.submit();
    }
    </script>
</body>
</html>