<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

      
<head th:replace="base.html :: head(title='Contact us')">
    <!--Contact us css-->
</head>
<body>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <!-- <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script> -->


<header th:replace="base.html :: header"></header>

<div class="container">
    <div class="text-center p-3">
        <h1>Contact Us!</h1>
    </div>

    <div class="row">
        <div class="col-7 shadow rounded">
            <div class="row">
                <div class="col mb-3">
                    <label class="form-label" style="color:black;">First Name: *</label>
                    <input type="text" class="form-control" placeholder="First Name">
                </div>
                <div class="col mb-3">
                    <label class="form-label" style="color:black;">Last Name: *</label>
                    <input type="text" class="form-control" placeholder="Last Name">
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" style="color:black;">Email: *</label>
                <input type="text" class="form-control" placeholder="Name@Example.com">
            </div>
            <div class="mb-3">
                <label class="form-label" style="color:black;">Order Number (Optional): </label>
                <input type="text" class="form-control" placeholder="XXXX-XXXX-XXXX">
            </div>
            <div class="mb-3">
                <label class="form-label" style="color:black;">Message: *</label>
                <input type="text" class="form-control" placeholder="Type Message here...">
            </div>
            <div class="mb-3">
                <button type="button" class="btn btn-dark">Submit</button>
            </div>
            <div class="mb-3 fa-3x">
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f" style="color:black"></i></a>
                <a href="https://www.twitter.com/"><i class="fab fa-twitter" style="color:black"></i></a>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram" style="color:black"></i></a>
                <a href="https://www.pinterest.co.uk/"><i class="fab fa-pinterest-p" style="color:black"></i></a>
                <a href="https://www.youtube.com/"><i class="fab fa-youtube" style="color:black"></i></a>
            </div>
            <div class="row">
                <div class="col mb-3">
                    <p>
                        <strong>Telephone:</strong> 0121 204 3000
                    </p>
                    <p>
                        <strong>Hours:</strong> 09:00 - 18:00 Mon-Fri
                    </p>
                </div>
                <div class="col">
                    <p>
                        <strong>Address:</strong>
                    </p>
                    <p>
                        Aston Street
                    </p>
                    <p>
                        Birmingham
                    </p>
                    <p>
                        B4 7ET
                    </p>
                </div>
            </div>
        </div>

        <div class="col-5">
            <img src="images/2ndModernBedroom.jpg" alt="contact us image" class="rounded img-fluid">
        </div>
    </div>
</div>
</body>
</html>