<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="base.html :: head(title='Products Management')">
</head>
<body>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />

    <script defer type="text/javascript" th:src="@{/js/script.js}"></script>

    <link rel="stylesheet" href=
            "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src=
                    "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>

    <script src=
                    "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
    </script>
    <style>
        @import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");
        * {
            font-family: 'Montserrat', 'Open Sans', sans-serif, Calibri, Helvetica;
        }
    </style>

<header th:replace="base.html :: header">
</header>
<div class="container-fluid">
    <div class="row">
        <!-- Products Table -->
        <div class="col-sm-8">
                <h2 >Products Management</h2>
            <div th:if="${message != null}" class="alert alert-success" role="alert">
                <p th:text="${message}"></p>
            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productModal" id="addProduct" style="margin-top: 20px; width:unset;" th:if="${user.role.name() == 'ADMIN'}">New Product</button>
            <div style="display: flex;align-items: center;">
                <div class="filter" style="display: flex;justify-content: space-between; align-items: center; width: 230px; margin-top: 40px; margin-bottom: 15px;">
                    <label for="stockFilter" style="display: inline-block; vertical-align: middle;">Filter by stock:</label>
                    <select id="stockFilter"  style="width: 120px;height:24px;" onchange="filterTablebyStock()">
                        <option value="">All</option>
                        <option value="Low Stock">Low Stock</option>
                    </select>
                </div>
            <!-- Seach box -->
            <input type="text" id="searchBar" placeholder="Search for products..." style="margin-top: 20px; width:500px; height: 30px; margin-left: 160px;" onkeyup="searchFunction()">
            
        </div>
            <!-- <div class="table-responsive"> -->
            <table class="table table-striped" id="productTable">
                <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Image Path</th>
                    <th th:if="${user.role.name() == 'ADMIN'}">Featured</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                 <tr class="selectable" th:each="product : ${products}" th:data-id="${product.id}">
                    <td style="vertical-align: middle;"><p><span  style="background: rgba(247, 72, 72, 0.8);" class="badge badge-pill bg" th:if="${product.stock<6}"> Low Stock <i class="fas fa-exclamation-circle"></i></span></p></td>
                    <td style="vertical-align: middle;" th:text="${product.name}"></td>
                    <td style="vertical-align: middle;" th:text="${product.description}"></td>
                    <td style="vertical-align: middle;" th:text="${product.category}"></td>
                    <td style="vertical-align: middle;" th:text="${product.price}"></td>
                     <td  style="vertical-align: middle;"><p  th:text="${product.stock}"></p></td>
                     <!-- <td th:if="${product.stock<6}" style="vertical-align: middle;"><p  th:text="${product.stock}" th:class="btn btn-danger"  th:style="color:white"></p><p><span class="low-stock-alert"><i class="fas fa-exclamation-circle"></i> Low stock!</span></p></td>
                     <td th:less="${product.stock<6}" style="vertical-align: middle;"><p  th:text="${product.stock}" th:class="${product.stock<6} ? 'btn btn-danger' : ''"  th:style="${product.stock<6} ? 'color:white;' : ''"></p><p><span class="low-stock-alert"><i class="fas fa-exclamation-circle"></i> Low stock!</span></p></td> -->
                    <td style="vertical-align: middle;" th:text="${product.imagePath}"></td>
                    <td><input type="checkbox" th:data-id="${product.id}" th:checked="${product.featured}" th:if="${user.role.name() == 'ADMIN'}" onchange="changeFeatured(this)"></td>
                     <td ><img th:src="${'images/products/' + product.imagePath}" th:if="${product.imagePath!=''}" width="80" height="75" alt="Product Image"></td>

                    <!-- <img th:src="@{/images/{imagePath}(imagePath=${product.imagePath})}" alt="image" width="100" height="100"> -->
                     <td style="vertical-align: middle;">
                         <form th:action="@{/delete-products}" method="post">
<!--                             <div style="display:flex; justify-content:space-around;">-->
                             <button type="button" class="btn btn-sm btn-primary" style="width:unset;" data-toggle="modal" data-target="#productModal">Edit</button>
                             <button type="submit" th:value="${product.id}" name="deleteid"  class="btn btn-sm btn-danger" th:if="${user.role.name() == 'ADMIN'}">Delete</button>
<!--                             </div>-->
                         </form>
                     </td></tr>
                </tbody>
            </table>
            <!-- </div> -->

        </div>

        <!-- Add/Edit Product Form -->
        <div class="col-sm-4">
            <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel"
                 aria-hidden="true">
               <div class="modal-dialog" role="document">
                   <div class="modal-content">
                       <div class="modal-header">
                           <h5 class="modal-title" id="productModalLabel">Add Product</h5>
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                           </button>
                       </div>
                        <div class="modal-body">
                            <form id="productForm" th:action="@{/update-products}" method="post"  enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Enter name"  required th:readonly="${user.role.name() != 'ADMIN'}">
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea class="form-control" id="description" rows="3" name="description" placeholder="Enter description" th:readonly="${user.role.name() != 'ADMIN'}"></textarea>
                                </div>
                                <div class="form-group">
                                <label for="category">Category</label>
                                <select class="form-control" name="category" id="category" required th:readonly="${user.role.name() != 'ADMIN'}">
                                <option value="Plants">Plants</option>
                                <option value="Lights">Lights</option>
                                <option value="Artworks">Artworks</option>
                                <option value="Lamps">Lamps</option>
                                <option value="Candles">Candles</option>
                                </select>
                                </div>
                                <div class="form-group">
                                    <label for="price">Price</label>
                                    <input type="number" class="form-control" id="price" name="price" placeholder="Enter price" step="0.01" min="0" required th:readonly="${user.role.name() != 'ADMIN'}">
                                </div>
                                <div class="form-group">
                                    <label for="stock">Stock</label>
                                    <input type="number" class="form-control" id="stock" name="stock" placeholder="Enter stock" min="0" required>
                                </div>
                                <div class="form-group">
                                    <label for="imagePath">Image Path</label>
                                    <input type="file" class="form-control" id="imagePath" name="imagePath" placeholder="Enter image path" accept="image/*" th:readonly="${user.role.name() != 'ADMIN'}">
                                </div>
                                <input type="hidden" id="id" name="id" value=-1>
                                <input type="submit" class="btn btn-primary" value="Submit">
                            </form>
                       </div>
                   </div>
               </div>
           </div>
        </div>
    </div>

</div>
<!--<footer th:replace="base.html :: footer"></footer>-->

<script>


    // Filter table by stock
    function filterTablebyStock() {
            // Declare variables
            var select, filter, table, tr, td, i;
            select = document.getElementById("stockFilter");
            filter = select.value.toUpperCase();
            tbody = document.getElementById("productTable");
            tr = tbody.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the selected option
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (filter == "LOW STOCK") {
                    if (td && td.getElementsByTagName("span")[0]) {
                        // console.log(td.getElementsByTagName("span")[0].innerText);
                            tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                } else{
                    tr[i].style.display = "";
                }
            }
        }

    //function for search bar
    function searchFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchBar");
        filter = input.value.toUpperCase();
        table = document.getElementById("productTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    //funtionality for the featured button in edit admin
    function changeFeatured(check){
        var id = check.getAttribute("data-id");
        var isChecked= check.checked;

        const form = document.createElement('form');
        form.method = 'POST';
        form.action = '/change-featured';

        var hiddenField = document.createElement('input');
        hiddenField.type = 'hidden';
        hiddenField.name = 'productId';
        hiddenField.value = id;
        form.appendChild(hiddenField);

        var hiddenField = document.createElement('input');
        hiddenField.type = 'hidden';
        hiddenField.name = 'isChecked';
        hiddenField.value = isChecked;
        form.appendChild(hiddenField);
        document.body.appendChild(form);
        form.submit();
    }

    //Connect add product button to reset form
    const addProduct = document.getElementById('addProduct');
    if (addProduct){
    addProduct.addEventListener('click', () => {
        document.getElementById('productForm').reset();
    });
    }

    const rows = document.querySelectorAll('.selectable');
  
    // Add click event listener to each row (edit product)
    rows.forEach(row => {
      row.addEventListener('click', () => {
        // Remove highlighting from previously selected row
        const prevSelected = document.querySelector('.selected');
        if (prevSelected) {
          prevSelected.classList.remove('selected');
        }
  
        // Highlight selected row
        row.classList.add('selected');
  
        // Get product id of selected row
        const id = row.getAttribute('data-id');
        //console.log(id);

        // Display selected product details in form for editing
        const form = document.getElementById('productForm');
        form.querySelector('#id').value = id;
        form.querySelector('#name').value = row.querySelector('td:nth-child(2)').textContent;
        form.querySelector('#description').value = row.querySelector('td:nth-child(3)').textContent;
        form.querySelector('#category').value = row.querySelector('td:nth-child(4)').textContent;
        form.querySelector('#price').value = row.querySelector('td:nth-child(5)').textContent;
        form.querySelector('#stock').value = row.querySelector('td:nth-child(6)').textContent;
        // form.querySelector('#imagePath').value = imagePath;
      });
    });
    
  </script>

</body>
</html>