<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="base.html :: head(title='Staff Management')">
</head>
<body>
<header th:replace="base.html :: header">
</header>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>

<script src=
                "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
</script>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->

<style>
    @import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");
    * {
        font-family: 'Montserrat', 'Open Sans', sans-serif, Calibri, Helvetica;
    }
</style>
<div class="container-fluid">

    <div class="row">
        <!-- Products Table -->
        <div class="col-sm-8">
            <h2>Staff Management</h2>
            <div  th:if="${error}" class="alert alert-danger">
                <p th:text="${error}"></p>
            </div>
            <!-- <div class="table-responsive"> -->

            <table class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Role</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                 <tr class="selectable" th:each="staff : ${staffs}" th:data-id="${staff.id}">
                     
                      <td>
                        <th:block th:switch="${staff.role.name()}">
                          <span th:case="ADMIN">
                            <span class="badge badge-pill bg-danger">
                              <i class="fa fa-user-shield"></i> <span th:text="${staff.role}"></span>
                            </span>
                          </span>
                          <span th:case="EMPLOYEE">
                            <span class="badge badge-pill bg-primary">
                              <i class="fa fa-user"></i> <span th:text="${staff.role}"></span>
                            </span>
                          </span>
                        </th:block>
                      </td>
                      
                      
                     <td th:text="${staff.firstName+' '+ staff.lastName}"></td>
                    <td th:text="${staff.email}"></td>

                     <td>
                         <select  th:onchange="updateStaffRole(this, this.value)" th:data-id="${staff.id}" th:disabled="${staff.email eq 'admin@admin.com'}">
                             <option th:value="'ADMIN'" th:text="ADMIN" th:selected="${staff.role.name() == 'ADMIN'}"></option>
                             <option th:value="'EMPLOYEE'" th:text="EMPLOYEE" th:selected="${staff.role.name() == 'EMPLOYEE'}"></option>
                         </select>
                     <td>
                         <form th:action="@{/delete-staff}" method="post" th:if="${staff.email ne 'admin@admin.com'}">
                             <button type="submit" th:value="${staff.id}" name="Id"  class="btn btn-sm btn-danger">Unassign</button>

                         </form>
                     </td>
                 </tr>

                </tbody>
            </table>
            <!-- </div> -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staffModal" id="addStaff">Staff Assign</button>
            </div>
        </div>
</div>

<div class="col-sm-4">
    <div class="modal fade" id="staffModal" tabindex="-1" role="dialog" aria-labelledby="staffModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staffModalLabel">Assign Staff</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="staffForm" method="post" enctype="multipart/form-data" th:action="@{/assign-staff}">
<!--                        <div  th:if="${error}" class="alert alert-danger" id="error">-->
<!--                            <p th:text="${error}"></p>-->
<!--                        </div>-->

                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Enter e-mail" required>
                        </div>

                        <div class="form-group">
                            <label for="role">Role</label>
                            <select class="form-control" name="role" id="role" required>
                                <option value="ADMIN">ADMIN</option>
                                <option value="EMPLOYEE">EMPLOYEE</option>
                            </select>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<footer th:replace="base.html :: footer"></footer>-->

<script>
    function updateStaffRole(obj, role) {
        var staffId = obj.getAttribute("data-id");
        const form = document.createElement('form');
        form.method = 'POST';
        form.action = '/update-staff/';
        const hiddenField = document.createElement('input');
        hiddenField.type = 'hidden';
        hiddenField.name = 'staffId';
        hiddenField.value = staffId;
        form.appendChild(hiddenField);
        const hiddenField2 = document.createElement('input');
        hiddenField2.type = 'hidden';
        hiddenField2.name = 'role';
        hiddenField2.value = role;
        form.appendChild(hiddenField2);
        document.body.appendChild(form);
        form.submit();
    }

</script>
</body>
</html>