
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="base.html :: head(title='Orders Management')">
</head>
<body>
<header th:replace="base.html :: header">
</header>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>

<script src=
                "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
</script>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
<style>
    @import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");
* {
    font-family: 'Montserrat', 'Open Sans', sans-serif, Calibri, Helvetica;
}

</style>

<div class="container-fluid">
    
    <div class="row mx-auto">
        <!-- Orders Table -->
        <!-- <div class="col-12"> -->
        <div class="col-sm-10">
            <h2>Orders Management</h2>
            <div class="col-sm-8">
                <div style="display: flex; align-items: center;" >

                <div class="filter" style="display: flex;justify-content: space-between; align-items: center; width: 230px; margin-top: 40px; margin-bottom: 15px;">
                    <label for="statusSelect" style="display: inline-block; vertical-align: middle; width: 240px;">Filter by status:</label>
                    <select id="statusSelect"  style="width: 120px;height:24px;" onchange="filterTableByStatus()">
                        <option value="">All</option>
                        <option value="Received">Received</option>
                        <option value="Processed">Processing</option>
                        <option value="Shipped">Shipped</option>
                        <option value="Delivered">Delivered</option>
                        <option value="Cancelled">Cancelled</option>
                    </select>
                </div>
                            <!-- Seach box -->
            <input type="text" id="searchBar" placeholder="Search for order..." style="margin-top: 20px; width:500px; ; height: 30px; margin-left: 160px;" onkeyup="searchFunction()">
                </div>
            </div>
            <!-- <div class="table-responsive"> -->
            <table class="table table-striped" id="orderTable">
                <thead th:if="${orders !=null and not orders.isEmpty()}">
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Customer</th>
                    <th>Date placed</th>
                    <th>Products</th>
                    <th>Total</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody id="orderTable">
                    <tr th:if="${orders != null and orders.isEmpty()}">
                        <td colspan="8" class="text-center">No orders found</td>
                    </tr>
                    <tr class="selectable" th:if="${orders != null and not orders.isEmpty()}" th:each="order : ${orders}" th:with="customer=${users.get(order.user_id)}">
                        <td th:switch="${order.status.name()}">
                            <span th:case="Received" class="badge badge-pill bg-secondary" th:text="${order.status}"></span>
                            <span th:case="Processed" class="badge badge-pill bg-warning" th:text="${order.status}"></span>
                            <span th:case="Shipped" class="badge badge-pill" style="background-color: #a2d8a2;" th:text="${order.status}"></span>
                            <span th:case="Delivered" class="badge badge-pill bg-success" th:text="${order.status}"></span>
                            <span th:case="Cancelled" class="badge badge-pill bg-danger" th:text="${order.status}"></span>
                        </td>
                        <td th:text="${'#'+order.id}"></td>
                        <td th:text="${customer.firstName + ' '+customer.lastName}"></td>
                        <td th:text="${#dates.format(order.date, 'dd-MM-yyyy')}"></td>
                        <td>
                            <ul th:each="item : ${order.getOrderItems()}" th:with="product=${products.get(item.product_id)}">
                                <li style="list-style-type: none;"
                                th:text="${product.name +' - ' +item.quantity +'x'}"></li>
                            </ul>
                        </td>
                        <td th:text="${order.total}"></td>
                        <td>
                            
        
                            <select  th:onchange="updateOrderStatus(this, this.value)" th:data-id="${order.id}">
                                <option th:value="'Received'" th:text="Received" th:selected="${order.status.name() == 'Received'}"></option>
                                <option th:value="'Processed'" th:text="Processed" th:selected="${order.status.name() == 'Processed'}"></option>
                                <option th:value="'Shipped'" th:text="Shipped" th:selected="${order.status.name() == 'Shipped'}"></option>
                                <option th:value="'Delivered'" th:text="Delivered" th:selected="${order.status.name() == 'Delivered'}"></option>
                                <option th:value="'Cancelled'" th:text="Cancelled" th:selected="${order.status.name() == 'Cancelled'}"></option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- </div> -->
            </div>
        </div>
</div>


<script>
    function updateOrderStatus(obj, status) {
        var orderId = obj.getAttribute("data-id");
        const form = document.createElement('form');
        form.method = 'POST';
        form.action = '/update-orders/';
        const hiddenField = document.createElement('input');
        hiddenField.type = 'hidden';
        hiddenField.name = 'orderId';
        hiddenField.value = orderId;
        form.appendChild(hiddenField);
        const hiddenField2 = document.createElement('input');
        hiddenField2.type = 'hidden';
        hiddenField2.name = 'status';
        hiddenField2.value = status;
        form.appendChild(hiddenField2);
        document.body.appendChild(form);
        form.submit();
    }

    //function for search bar
    function searchFunction() {
        var input, filter, table, tr, td, i, idValue, customerValue, dateValue, productsValue;
        input = document.getElementById("searchBar");
        filter = input.value.toUpperCase();
        table = document.getElementById("orderTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            idValue = tr[i].getElementsByTagName("td")[1];
            customerValue = tr[i].getElementsByTagName("td")[2];
            dateValue = tr[i].getElementsByTagName("td")[3];
            productsValue = tr[i].getElementsByTagName("td")[4];
            if (idValue || customerValue || dateValue || productsValue) {
                idValue = idValue.textContent || idValue.innerText;
                customerValue = customerValue.textContent || customerValue.innerText;
                dateValue = dateValue.textContent || dateValue.innerText;
                productsValue = productsValue.textContent || productsValue.innerText;
                if (idValue.toUpperCase().indexOf(filter) > -1 || customerValue.toUpperCase().indexOf(filter) > -1 || dateValue.toUpperCase().indexOf(filter) > -1 || productsValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    // Filter table by status
    function filterTableByStatus() {
        // Declare variables
        var select, filter, table, tr, td, i;
        select = document.getElementById("statusSelect");
        filter = select.value.toUpperCase();
        tbody = document.getElementById("orderTable");
        tr = tbody.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the selected option
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[6];
            if (td) {
                if (filter === "" || td.getElementsByTagName("select")[0].value.toUpperCase() === filter) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }



</script>
<!-- Include Bootstrap JS -->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->
</body>
</html>
