<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head th:replace="base.html :: head(title='Orders')">
</head>

<body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <header th:replace="base.html :: header">
    </header>
<div class="container mt-5">
    <h1>Orders</h1>
    <table class="table table-bordered mt-4">
        <thead th:if="${orders !=null and not orders.isEmpty()}">
        <tr>
            <th></th>
            <th>Item</th>
            <th>Qty</th>
            <th>Total</th>
            <th>Order placed</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:if="${orders.isEmpty()}">
            <tr>
                <td colspan="5" class="text-center">No orders found</td>
            </tr>
        </th:block>
        <th:block th:if="${orders != null and not orders.isEmpty()}">
             <th:block th:each="order : ${orders}" >
                <tr th:each="item : ${order.getOrderItems()}" th:with="product=${products.get(item.product_id)}">
                    <th:block th:if="${product !=null}">
                        <td><img th:src="${product.imagePath}" th:if="${product.imagePath!=''}" width="80" height="75" alt="Product Image"></td>
                        <td th:text="${product.name}" ></td> 
                    </th:block>
                    <td th:text="${item.quantity}"></td>
                    <td th:text="${'£' +item.current_price * item.quantity}"></td>
                    <td th:text="${#dates.format(order.date, 'yyyy-MM-dd')}"></td>
                    <td th:switch="${order.status.name()}">
                        <span th:case="Received" th:text="${order.status}"></span>
                        <span th:case="Processed" class="badge badge-warning" th:text="${order.status}"></span>
                        <span th:case="Shipped" class="badge badge-success" th:text="${order.status}"></span>
                        <span th:case="Delivered" class="badge badge-success" th:text="${order.status}"></span>
                        <span th:case="Cancelled" class="badge badge-danger" th:text="${order.status}"></span>
                    </td>
                </tr>
             </th:block>
        </th:block>
        </tbody>
    </table>
</div>

<!-- Include Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
