<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">

   <head th:replace="base.html :: head(title='Products')">

   <body>
     <header th:replace="base.html :: header">
	 </header>

      <h1 class="underline"> All Products </h1>
      <br>

      <div id="product_category">
         <button class="btn-outline-secondary"> Lights </button>
         <button class="btn-outline-secondary"> Plants </button>
         <button class="btn-outline-secondary"> Lamps </button>
         <button class="btn-outline-secondary"> Artwork </button>
         <button class="btn-outline-secondary"> Candles </button>
      </div>

         <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
               <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center">
                  <div th:each="product : ${products}">
                     <div class="col mb-5">
                        <div class="card h-100">
                        <a th:data-id="${product.id}" onclick="selectItem(this)"> 
                           <!-- Product image-->
                           <img class="card-img-top" th:src="${product.imagePath}" width="450" height="300" th:alt="${product.imagePath}" />
                           <!-- Product details-->
                           <div class="card-body p-4">
                              <div class="text-center">
                                 <!-- Product name-->
                                 <h5 class="fw-bolder" th:text="${product.name}"></h5>
                                 <span class="text-muted" th:text="${'£'+product.price}"></span>
                              </div>
                           </div>
                        </a>
                           <!-- Product actions-->
                           <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                              <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:data-id="${product.id}"  onclick="addToCart(this)">Add to cart</a></div>
                           </div>


                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>

<!-----footer----->
<footer th:replace="base.html :: footer"></footer>

      <!-- Bootstrap core JS-->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
      <!-- Core theme JS-->
      <script type="text/javascript" th:src="@{/js/script.js}"></script>
      
      <script> 
      function addToCart(div){
         var id = div.getAttribute("data-id");
         // console.log(id);
      //   alert(id);
      
        const form = document.createElement('form');
        form.method = 'POST';
        //set form th:action to add-product in basket controller
        form.action = '/basket/add';

        var hiddenField = document.createElement('input');
        hiddenField.type = 'hidden';
        hiddenField.name = 'productId';
        hiddenField.value = id;
        form.appendChild(hiddenField);
        hiddenField = document.createElement('input');
        hiddenField.type='hidden';
        hiddenField.name= 'quantity';
        hiddenField.value=1;
        form.appendChild(hiddenField);
        document.body.appendChild(form);
        form.submit();

      }

      function selectItem(a){

         var id = a.getAttribute("data-id");
          console.log(id);
      //   alert(id);
      const form = document.createElement('form');
        form.method = 'POST';
        //set form th:action to add-product in basket controller
        form.action = '/select-item';

        var hiddenField = document.createElement('input');
        hiddenField.type = 'hidden';
        hiddenField.name = 'productId';
        hiddenField.value = id;
        form.appendChild(hiddenField);
         document.body.appendChild(form);
        form.submit();
      
      }
      </script>
   </body>
</html>