<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Us</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <div class="container">
        <div class="col-12 text-center p-3">
            <h1>About Us</h1>
        </div>
            <div class="row align-items-center">
                <div class="col-8 p-4">
                <span class="border border-secondary"></span>
                    <p>
                        Welcome to Dreamnest, the perfect place to discover beautiful and inspiring bedroom decorations that will transform your space into a dreamy oasis.
                        We understand that a bedroom is not just a place to sleep, but also a place to relax, unwind, and express your personal style. 
                        That's why we offer a wide range of décor items that will add charm, character, and sophistication to your bedroom.
                    </p>

                    <p>
                    At Dreamnest, we believe that shopping for bedroom decorations should be a fun and stress-free experience.
                    That's why we have created a user-friendly website that allows you to browse, shop, and decorate with ease. 
                    We offer fast and reliable shipping, and we are always available to assist you with any questions or concerns you may have.
                    </p>
                </div>
                <div class ="col-4">
                    <img src="/images/ModernBedroom.jpg" class="rounded img-fluid" alt="About Us image 1">
                </div>
            </div>
            <div class="row align-items-center p-4">
                <div class="col-4">
                    <img src="/images/CozyBedroom.jpg" class="rounded img-fluid" alt="about us image 2">
                </div>
                <div class="col-8">
                    <p>
                        We take pride in the quality of our products, and we work with reputable suppliers and manufacturers to ensure that our decorations are made from the finest materials and craftsmanship.
                        We believe that every detail matters, and we strive to offer products that are not only beautiful but also functional and durable.
                    </p>
                    <p>
                        We are passionate about helping our customers create a bedroom that reflects their personality and style. We believe that a well-decorated bedroom can have a positive impact on your mood, productivity, and overall well-being.
                        Thank you for choosing Dreamnest, and we look forward to helping you create the bedroom of your dreams.
                    </p>
                </div>

            </div>

    </div>

</body>

</html>