<!DOCTYPE html>
<html lang="en-GB">
<!DOCTYPE html>
<html lang="en-GB">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>Products</title>

   <link rel="stylesheet" type="text/css" href="home.html">

   <!-- Favicon-->
   <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
   <!-- Bootstrap icons-->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
   <!-- Core theme CSS (includes Bootstrap)-->
   <link rel="stylesheet" type="text/css" href="/css/productstyles.css">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />

   <link rel="stylesheet" href="/css/headfoot.css">
</head>

<body>
   <section id="header">
      <a href="#"><img src="/images/logo1.png" class="logo"></a>

      <!-----Header----->
      <div>
         <ul id="navbar">
            <li><a class="active" href="">Home</a></li>
            <li><a href="">Products</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Contact</a></li>
            <li><a href=""><i class="fa-solid fa-user"></i></a></li>
            <li><a href=""><i class="fa fa-basket-shopping"></i></a></li>
            <li><a th:text="${email}"></a></li>
            <a href="#" id="close"><i class="fa fa-times"></i></a>
         </ul>
      </div>
      <div id="mobile">
         <a href=""><i class="fa-solid fa-user"></i></a>
         <a href=""><i class="fa fa-basket-shopping"></i></a>
         <i id="bar" class="fas fa-outdent"></i>
      </div>
      </section></br></br>
      
      <h2 class="underline"> LEDs </h2>

         <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
               <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center">
         
                  <div class="led1">
                     <div class="col mb-5">
                        <div class="card h-100">
                           <!-- Sale badge-->
                           <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                           <!-- Product image-->
                           <img class="card-img-top" src="/images/light1.jpeg" width="450" height="300" alt="Nano Leaf" />
                           <!-- Product details-->
                           <div class="card-body p-4">
                              <div class="text-center">
                                 <!-- Product name-->
                                 <h5 class="fw-bolder">Nano Leaf</h5>
                                 <!-- Product reviews-->
                                 <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                 </div>
                                 <!-- Product price-->
                                 <span class="text-muted text-decoration-line-through">£30.00</span>
                                 £25.00
                              </div>
                           </div>
                           <!-- Product actions-->
                           <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                              <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
         
                  <div class="led2">
                     <div class="col mb-5">
                        <div class="card h-100">
                           <!-- Sale badge-->
                           <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                           <!-- Product image-->
                           <img class="card-img-top" src="/images/light2.jpeg" width="450" height="300" alt="Palm Springs" />
                           <!-- Product details-->
                           <div class="card-body p-4">
                              <div class="text-center">
                                 <!-- Product name-->
                                 <h5 class="fw-bolder">Palm Springs </h5>
                                 <!-- Product reviews-->
                                 <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                 </div>
                                 <!-- Product price-->
                                 <span class="text-muted text-decoration-line-through">£20.00</span>
                                 £18.00
                              </div>
                           </div>
                           <!-- Product actions-->
                           <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                              <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
         
                  <div class="led3">
                     <div class="col mb-5">
                        <div class="card h-100">
                           <!-- Sale badge-->
                           <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                           <!-- Product image-->
                           <img class="card-img-top" src="/images/light3.jpeg" width="450" height="300" alt="Galaxy Projector" />
                           <!-- Product details-->
                           <div class="card-body p-4">
                              <div class="text-center">
                                 <!-- Product name-->
                                 <h5 class="fw-bolder">Galaxy Projector</h5>
                                 <!-- Product reviews-->
                                 <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                 </div>
                                 <!-- Product price-->
                                 <span class="text-muted text-decoration-line-through">£85.00</span>
                                 £89.00
                              </div>
                           </div>
                           <!-- Product actions-->
                           <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                              <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
         
                  <div class="led4">
                     <div class="col mb-5">
                        <div class="card h-100">
                           <!-- Sale badge-->
                           <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                           <!-- Product image-->
                           <img class="card-img-top" src="/images/light4.jpeg" width="450" height="300" alt="Fairy Light" />
                           <!-- Product details-->
                           <div class="card-body p-4">
                              <div class="text-center">
                                 <!-- Product name-->
                                 <h5 class="fw-bolder">Fairy Lights</h5>
                                 <!-- Product reviews-->
                                 <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                 </div>
                                 <!-- Product price-->
                                 <span class="text-muted text-decoration-line-through">£15.00</span>
                                 £10.00
                              </div>
                           </div>
                           <!-- Product actions-->
                           <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                              <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
         
                  <div class="led5">
                     <div class="col mb-5">
                        <div class="card h-100">
                           <!-- Sale badge-->
                           <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                           <!-- Product image-->
                           <img class="card-img-top" src="/images/light5.jpeg" width="450" height="300"
                              alt="Gaklaxy Projector" />
                           <!-- Product details-->
                           <div class="card-body p-4">
                              <div class="text-center">
                                 <!-- Product name-->
                                 <h5 class="fw-bolder">Astronaut Projector </h5>
                                 <!-- Product reviews-->
                                 <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                 </div>
                                 <!-- Product price-->
                                 <span class="text-muted text-decoration-line-through">£76.00</span>
                                 £70.00
                              </div>
                           </div>
                           <!-- Product actions-->
                           <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                              <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
         
                  <div class="led6">
                     <div class="col mb-5">
                        <div class="card h-100">
                           <!-- Sale badge-->
                           <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                           <!-- Product image-->
                           <img class="card-img-top" src="/images/light6.jpeg" width="450" height="300" alt="Neon Palms" />
                           <!-- Product details-->
                           <div class="card-body p-4">
                              <div class="text-center">
                                 <!-- Product name-->
                                 <h5 class="fw-bolder">Neon Palms</h5>
                                 <!-- Product reviews-->
                                 <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                 </div>
                                 <!-- Product price-->
                                 <span class="text-muted text-decoration-line-through">£50.00</span>
                                 £40.00
                              </div>
                           </div>
                           <!-- Product actions-->
                           <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                              <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
         
               </div>
            </div>
         </section>



<!-----footer----->
<footer class="section-p1">
   <div class="col">
      <img class="logo" src="/images/logo1.png">
      <h4>Contact</h4>
      <p><strong>Address:</strong>Aston St, Birmingham B4 7ET</p>
      <p><strong>Phone:</strong>+44 0121 204 3000</p>
      <p><strong>Hours:</strong> 09:00 - 18:00 Mon-Fri</p>
      <div class="follow">
         <h4>Follow Us</h4>
         <div class="icon">
            <a href="https://en-gb.facebook.com/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.pinterest.co.uk/"><i class="fab fa-pinterest-p"></i></a>
            <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
         </div>
      </div>
   </div>

   <div class="col">
      <h4>About</h4>
      <a href="#">Home Page</a>
      <a href="#">Products Page</a>
      <a href="#">About Us</a>
      <a href="#">Contact Us</a>
   </div>

   <div class="col">
      <h4>My Account</h4>
      <a href="#">Sign In</a>
      <a href="#">Basket</a>
      <a href="#">Track My Order</a>
   </div>

   <div class="col install">
      <h4>Install App</h4>
      <p>Download our app from the App Store or Google Play Store</p>
      <div class="row">
         <a href="https://www.apple.com/uk/app-store/"><img src="/images/app.jpg"></a>
         <a href="https://play.google.com/store/games"><img src="/images/play.jpg"></a>
      </div>
      <p>Secured Payment Options</p>
      <img src="/images/pay.png">
   </div>

   <div class="copyright">
      <p>@2023, DreamNest the home of all the things you need.</p>
   </div>
</footer>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="..\js\scripts.js"> src</script>

<script type="text/javascript" th:src="@{/js/script.js}"></script>

</body>

</html>