<!DOCTYPE html>
<html>

<head>
    <title>Register Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
    <div class="container">
        <div class="image">
            <img src="images/3.png" alt="Your image description">
        </div>
        <div class="form-wrapper">
            <div class="Logo-image">
                <img src="images/logo1.png">
            </div>
            <h1>Create Account</h1>

            <form >
                <div class="input-field">
                    <!-- <label for="username">Username:</label> -->
                    <input type="email" id="email" placeholder="Enter Email" name="Email">


                </div>
                <div class="input-field">
                    <!-- <label for="password">Password:</label> -->
                    <input type="password" id="password" placeholder="Enter Password" name="Password">

                </div>
                <div class="input-field">
                    <!-- <label for="password">Password:</label> -->
                    <input type="password" id="C-password" placeholder="Confirm Password" name="Confirm-password">

                </div>


                <input type="submit" value="Register">

                <h2>Already have an account?. Login <a href="LoginPage.html">here!</a></h2>

            </form>
        </div>
    </div>
</body>

</html>